<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
 <script type="text/javascript" src="/assets/main/js/petstar/bulletinInsert.js"></script>
<link rel="stylesheet" href="/assets/main/css/petstar/bulletinInsert.css"
	type="text/css" />
<meta charset="UTF-8">
</head>

<body>
	<section class="first-section-pt">
			<div style="display: flex; justify-content: center;"> 

			<!-- Aside 메뉴 -->
			<aside id="layout-menu"
				class="layout-menu menu-vertical menu bg-menu-theme"
				style="flex: 0 0 250px;">

				<ul class="menu-inner py-1" style="text-align: center;">
					<!-- Apps & Pages -->
					<li class="menu-header small"><span class="menu-header-text"
						data-i18n="PetStar">펫스타 그램</span></li>
					<li class="menu-item"><a href="mypage" class="menu-link">
							<i class="menu-icon tf-icons ti ti-user-square-rounded"></i>
							<div data-i18n="My PetStar">나의 펫스타</div>
					</a></li>
					<li class="menu-item"><a href="bulletinInsert"
						class="menu-link"> <i
							class="menu-icon tf-icons ti ti-pencil-plus"></i>
							<div data-i18n="Board">글 작성하기</div>
					</a></li>
					<li class="menu-item"><a href="commentList" class="menu-link">
							<i class="menu-icon tf-icons ti ti-message"></i>
							<div data-i18n="Comment">나의 댓글</div>
					</a></li>
				</ul>

			</aside>
			<!-- End Aside -->

			<!-- 등록 내용 -->
		 <div class="card-body" style="flex: 1;">
            <form name="insertForm" id="insertForm" method="post"
                enctype="multipart/form-data"
                class="d-flex flex-column align-items-center">
                
                <!-- 파일 업로드 -->
                <div class="col-md-3 mb-3"> 
                 <label class="form-label" for="image">파일 첨부</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="ti ti-photo-plus"></i></span>
                        <input type="file" class="form-control" id="image"
                            onchange="addFile(this);" accept="image/*" name="files" multiple>
                    </div>
                    <div id="image_list" class="mt-3"></div>
                </div>

                <!-- 내용 입력 -->
                <div class="col-md-3 mb-6">
                    <label class="form-label" for="content">내용</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-message2" class="input-group-text"><i class="ti ti-message-dots"></i></span>
                        <textarea id="content" class="form-control" name="content" placeholder="내용을 입력해 주세요."></textarea>
                    </div>
                </div>

                <!-- 전송 버튼 -->
                <button class="btn btn-primary" type="button" id="submitBtn" onclick="submitForm()">등록</button>
            </form>
			</div>


		</div>
	</section>
</body>
</html>
