<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<script type="text/javascript" src="/assets/main/js/petstar/profile.js"></script>
<script type="text/javascript"
	src="/assets/main/js/petstar/commentInsert.js"></script>
<link rel="stylesheet" href="/assets/main/css/petstar/image.css"
	type="text/css" />
<meta charset="UTF-8">
</head>

<body>
	<section class="first-section-pt">

		<!-- Flexbox로 레이아웃을 구성 -->
		<div style="display: flex;">

			<!-- Aside 메뉴 -->
			<aside id="layout-menu"
				class="layout-menu menu-vertical menu bg-menu-theme"
				style="flex: 0 0 250px;">

				<ul class="menu-inner py-1" style="text-align: center;">
					<!-- Apps & Pages -->
					<li class="menu-header small"><span class="menu-header-text"
						data-i18n="PetStar">펫스타 그램</span></li>
					<li class="menu-item"><a href="mypage" class="menu-link">
							<i class="menu-icon tf-icons ti ti-user-square-rounded"></i>
							<div data-i18n="My PetStar">나의 펫스타</div>
					</a></li>
					<li class="menu-item"><a href="bulletinInsert"
						class="menu-link"> <i
							class="menu-icon tf-icons ti ti-pencil-plus"></i>
							<div data-i18n="Board">글 작성하기</div>
					</a></li>
					<li class="menu-item"><a href="commentList" class="menu-link">
							<i class="menu-icon tf-icons ti ti-message"></i>
							<div data-i18n="Comment">나의 댓글</div>
					</a></li>
					<li class="menu-item"><a href="Like" class="menu-link"> <i
							class="menu-icon tf-icons ti ti-heart"></i>
							<div data-i18n="Like">좋아요 표시한 글</div>
					</a></li>
				</ul>

			</aside>
			<!-- End Aside -->

			


		</div>
	</section>
</body>
</html>
