<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/" 
                layout:decorate="~{common/layouts/default_layout}"
	            layout:fragment="Content">
<head>
<title>채팅방</title>
</head>

<body>
<section class="first-section-pt">


<div class="container">
    <div class="col-6">
        <h1>[[${room.roomName}]]</h1>
    </div>
    <div>
        <div id="msgArea" class="col"></div>
        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" id="msg" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6"></div>
</div>

</section>
       
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script th:inline="javascript">

var roomName = [[${room.roomName}]];
var roomId = [[${room.roomId}]];
var username = [[${#authentication.principal.username}]];

</script>

<script type="text/javascript" src="/assets/main/js/chat/room.js"></script>

</body>



</html>