<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<meta name="contextPath" th:value="${contextPath}">
<link rel="stylesheet" href="/assets/main/css/match/assiList.css" type="text/css" />

<title>matchTest</title>
</head>
<body>
<section class="match-section pt-70 pb-60">
  <th:blcok th:each="assi : ${assis}">
	<div class="container d-flex align-items-center justify-content-between">
	    <div class="assiList">
	  	  <div class="img">
	  		<img src="assets/main/img/logo.png" alt="image">
	  	  </div>
	  	  <div>
	  		  <h6>name star review</h6>
	  		  <span>content km</span>
	  	  </div>
	  	  <div>
	  	  	<hr>
	  	  	<h6>중형견 이하 : money</h6>
	  	  	<h6>대형견 : money</h6>
	  	  </div>
	  	  <div>
	  	  	<hr>
	  	  	<h6>※15kg이하 소중형견</h6>
            <h6>  15초과 대형견</h6>
	  	  </div>
	    </div>
	    <div>
	    	<img src="assets/main/img/logo.png" alt="image">
	    </div>
	</div>
  </th:blcok>
</section>
		
</body>
<script type="text/javascript" src="/assets/main/js/match/matchList.js"></script>
</html>