<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<meta name="contextPath" th:value="${contextPath}">
<title>matchTest</title>
</head>
<body>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">자율 매칭</h5>

    <!-- Default Table -->
    <table class="table">
      <thead>
        <tr>
			<th scope="col">No</th>
			<th scope="col">제목</th>
			<th scope="col">지역</th>
			<th scope="col">매칭상태</th>
			<th scope="col">작성자</th>
			<th scope="col">작성시간</th>
        </tr>
      </thead>
		<tbody>
			<th:block th:each="match : ${matchs}">
				<tr>
					<td scope="row">[[ ${match.bulletinNo} ]]</td>
					<td scope="row">[[ ${match.title} ]]</td>
					<td scope="row">[[ ${match.walkPlaceAddress} ]]</td>
					<td scope="row">[[ ${match.matchingState} ]]</td>
					<td scope="row">[[ ${match.writer} ]]</td>
					<td scope="row">[[${#dates.format(match.writingTime, 'yyyy/MM/dd')}]]</td>
				</tr>
			</th:block>
		</tbody>
    </table>
		<button type="button" class="btn btn-primary"
			th:onclick="|location.href='@{/matchInsert}'|">작성하기
		</button>
  </div>
</div>
		
</body>
<script type="text/javascript" src="/assets/main/js/match/matchList.js"></script>
</html>