<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<meta name="contextPath" th:value="${contextPath}">
<link rel="stylesheet" href="/assets/main/css/match/matchList.css" type="text/css" />

<title>matchList</title>
</head>
<body>
<section class="match-section pt-60 pb-60">
	<div class="container 
	d-flex align-items-center justify-content-between">
	  <div class="card-body">
	    <table id="matchList" class="table">
	      <thead>
	        <tr>
				<th scope="col" class="col-md-1">No</th>
				<th scope="col" class="col-md-6">제목</th>
				<th scope="col" class="col-md-2">지역</th>
				<th scope="col" class="col-md-2">매칭상태</th>
				<th scope="col" class="col-md-2">작성자</th>
				<th scope="col" class="col-md-2">작성시간</th>
	        </tr>
	      </thead>
			<tbody>
				<th:block th:each="match : ${matchs}">
					<tr style="cursor:pointer;">
						<td scope="row">[[ ${match.bulletinNo} ]]</td>
						<td scope="row">[[ ${match.title} ]]</td>
						<td scope="row">[[ ${match.walkPlaceAddress} ]]</td>
						<td scope="row" th:if = "${match.matchingState}==1" th:text="매칭중"></td>
						<td scope="row" th:if = "${match.matchingState}==2" th:text="매칭예약"></td>
						<td scope="row" th:if = "${match.matchingState}==3" th:text="매칭종료"></td>
						<td scope="row" th:if = "${match.matchingState}==4" th:text="매칭취소"></td>
						<td scope="row">[[ ${match.writer} ]]</td>
						<td scope="row">[[${#dates.format(match.writingTime, 'yyyy/MM/dd')}]]</td>
					</tr>
				</th:block>
			</tbody>
	    </table>
	    <div class="text-right">
		    <button type="button" class="btn btn-secondary" 
				th:onclick="|location.href='@{/user/match}'|">매칭
			</button>
			<button type="button" class="btn btn-primary"
				th:onclick="|location.href='@{/user/matchInsert}'|">작성하기
			</button>
		</div>
	  </div>
	</div>
</section>
		
</body>
<script type="text/javascript" src="/assets/main/js/match/matchList.js"></script>
</html>