<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<meta name="contextPath" th:value="${contextPath}">
<title>matchTest</title>
</head>
<body>
	<table class="table">
			<thead>
				<tr>
					<th scope="col">No</th>
					<th scope="col">제목</th>
					<th scope="col">지역</th>
					<th scope="col">매칭상태</th>
					<th scope="col">작성자</th>
					<th scope="col">작성시간</th>
				</tr>
			</thead>
		<tbody>
			<th:block th:each="match : ${matchs}">
				<tr>
					<td scope="row">[[ ${match.bulletinNo} ]]</td>
					<td>[[ ${match.title} ]]</td>
					<td>[[ ${match.walkPlaceAddress} ]]</td>
					<td>[[ ${match.matchingState} ]]</td>
					<td>[[ ${match.writer} ]]</td>
					<td>[[${#dates.format(match.writingTime, 'yyyy/MM/dd')}]]</td>
				</tr>
			</th:block>
		</tbody>
	</table>
		<button type="button" class="btn btn-light"
			th:onclick="|location.href='@{/matchInsert}'|">작성하기
		</button>
</body>
<script>
	const context = $('meta[name="contextPath"]').attr('value');
	$('tbody > tr').on('click', function(event){
		let bno = $(event.currentTarget).children().first().text();
		let url = context + '/matchInfo?bulletinNo=' + bno;
		location.href = url;
	})
	
</script>
</html>