<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<meta name="contextPath" th:value="${contextPath}">
<link rel="stylesheet" href="/assets/main/css/match/matchInfo.css" type="text/css" />

<title>matchInfo</title>
</head>
<body>
<section class="match-section pt-70 pb-60">
<div class="container pt-3">
<h4>자율매칭</h4>
<hr/>
   <form name="InfoForm" th:object="${match}">
     <div class="row mb-3">
       <label for="title" class="col-md-2 col-lg-2 col-form-label">제목</label>
       <div class="col-md-10 col-lg-10">
         <input name="title" type="text" class="form-control" th:field="*{title}" readonly>
       </div>
     </div>
     
     <hr/>
     
     <div class="row mb-3">
       <label for="dogInfo" class="col-md-2 col-lg-2 col-form-label">반려견 정보</label>
       <div class="col-md-10 col-lg-10">
         <img src="assets/img/profile-img.jpg" alt="dogInfo">
       </div>
     </div>
     <hr/>

     <div class="row mb-3">
       <label for="content" class="col-md-2 col-lg-2 col-form-label">소개</label>
       <div class="col-md-10 col-lg-10">
         <textarea name="content" class="form-control" id="content" style="height: 100px"
          th:field="*{content}" readonly></textarea>
       </div>
     </div>
          <hr/>
   </form>
     <div class="text-right">
	    <button type="button" class="btn btn-secondary" 
			th:onclick="|location.href='@{/matchList}'|">목록
		</button>
        <button type="button" class="btn btn-warning" id="modifyBtn"
            th:onclick="|location.href='@{/matchUpdate(bulletinNo=${match.bulletinNo})}'|">수정
        </button>
		<button type="button" class="btn btn-danger"
			th:onclick="|location.href='@{/matchDelete(bulletinNo=${match.bulletinNo})}'|">삭제
		</button>
		<button type="button" class="btn btn-primary"
			th:onclick="|location.href='@{/matchApply(bulletinNo=${match.bulletinNo})}'|">신청
		</button>
     </div>
  </div>
</section>
</body>
</html>