<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<script type="text/javascript"
	src="/assets/vendor/libs/flatpickr/flatpickr.js"></script>
<style>
.switch-success {
	margin-top: 10px;
}
</style>
<link rel="stylesheet"
	href="/assets/vendor/libs/flatpickr/flatpickr.css">
</head>
<body>

	<section class="first-section-pt pb-6">
		<div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
			<div
				class="flex-shrink-1 flex-grow-0 w-px-350 border-end container-p-x container-p-y">
				<div th:insert="common/fragments/admin/aside :: AsideFragment"></div>
			</div>
			<div class="card">
                <h5 class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">매칭내역 조회</font></font></h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead class="text-center">
                      <tr>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">매칭 상대</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">매칭 글 제목</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">매칭날짜</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">매칭종류</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">직함</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">매칭상태</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">비고</font></font></th>
                        
                        
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    <th:block th:each="match:${matchs}">
	                      <tr>
	                        <td style="display:none;">
	                          <span class="fw-medium" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[ ${match.bulletinNo} ]]</font></font></span>
	                        </td>
	                        <td th:if="${match.position == '의뢰인'}">
	                          <span class="fw-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[ ${match.nickName} ]]님</font></font></span>
	                        </td>
	                        <td th:if="${match.position == '봉사인' || match.position == '도그워커'}">
	                          <span class="fw-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[ ${match.name} ]]님</font></font></span>
	                        </td>
	                        <td>
	                          <span class="fw-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[ ${match.title} ]]</font></font></span>
	                        </td>
	                        <td>
	                          <span class="fw-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[${#dates.format(match.endTime, 'yyyy/MM/dd')}]]</font></font></span>
	                        </td>
	                        <td>
	                          <span class="fw-medium">
	                          	<font style="vertical-align: inherit;">
	                          		<font style="vertical-align: inherit;">
	                          			<th:block th:if="${match.matchingKind == null}">-</th:block>
	                          			<th:block th:unless="${match.matchingKind == null}">[[ ${match.matchingKind} ]]</th:block>
	                          		</font>
	                          		</font>
	                          	</span>
	                        </td>
	                        <td>
	                          <span class="fw-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[ ${match.position} ]]</font></font></span>
	                        </td>
	                    
	                       
	                        <td th:if="${match.matchingState == null}"><span class="badge bg-label-primary me-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">-</font></font></span></td>
	                        <td th:if="${match.matchingState == 1}"><span class="badge bg-label-primary me-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">매칭중</font></font></span></td>
	                        <td th:if="${match.matchingState == 2}"><span class="badge bg-label-primary me-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">매칭예약</font></font></span></td>
	                        <td th:if="${match.matchingState == 3}"><span class="badge bg-label-primary me-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">매칭종료</font></font></span></td>
	                        <td th:if="${match.matchingState == 4}"><span class="badge bg-label-primary me-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">매칭취소</font></font></span></td>
	            		    <td class="text-center"><button type="button" class="w-75 h-75 btn rounded-pill btn-label-info waves-effect" th:onclick="|location.href='@{/user/walkMap(bulletinNo=${match.bulletinNo})}'|">산책하기</button></td>
	                      </tr>
                      </th:block>
                    </tbody>
                  </table>
                </div>
              </div>
		</div>
	</section>
</body>
</html>