
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<script type="text/javascript"
	src="/assets/vendor/libs/flatpickr/flatpickr.js"></script>
<style>
.switch-success {
	margin-top: 10px;
}
</style>
<link rel="stylesheet"
	href="/assets/vendor/libs/flatpickr/flatpickr.css">
</head>
<body>

	<section class="first-section-pt">
		<div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
			<div
				class="flex-shrink-1 flex-grow-0 w-px-350 border-end container-p-x container-p-y">
				<div th:insert="common/fragments/admin/aside :: AsideFragment"></div>
			</div>
			<div class="card">
                <h5 class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">테이블 기본</font></font></h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">제목</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">매칭날짜</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">매칭종류</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">상태</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">행위</font></font></th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    <th:block th:each="match:${matchs}">
	                      <tr>
	                        <td>
	                          <i class="ti ti-brand-angular ti-md text-danger me-4"></i>
	                          <span class="fw-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[ ${match.bulletinNo} ]]</font></font></span>
	                        </td>
	                        <td>
	                          <i class="ti ti-brand-angular ti-md text-danger me-4"></i>
	                          <span class="fw-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[ ${match.title} ]]</font></font></span>
	                        </td>
	                        <td>
	                          <i class="ti ti-brand-angular ti-md text-danger me-4"></i>
	                          <span class="fw-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[${#dates.format(match.endTime, 'yyyy/MM/dd')}]]</font></font></span>
	                        </td>
	                        <td>
	                          <i class="ti ti-brand-angular ti-md text-danger me-4"></i>
	                          <span class="fw-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">각도 프로젝트</font></font></span>
	                        </td>
	                        <td>
	                          <i class="ti ti-brand-angular ti-md text-danger me-4"></i>
	                          <span class="fw-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">각도 프로젝트</font></font></span>
	                        </td>
	                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></td>
	                        <td>
	                          <ul class="list-unstyled m-0 avatar-group d-flex align-items-center">
	                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" aria-label="릴리언 풀러" data-bs-original-title="Lilian Fuller">
	                              <img src="../../assets/img/avatars/5.png" alt="화신" class="rounded-circle">
	                            </li>
	                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" aria-label="소피아 윌커슨" data-bs-original-title="Sophia Wilkerson">
	                              <img src="../../assets/img/avatars/6.png" alt="화신" class="rounded-circle">
	                            </li>
	                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" aria-label="크리스티나 파커" data-bs-original-title="Christina Parker">
	                              <img src="../../assets/img/avatars/7.png" alt="화신" class="rounded-circle">
	                            </li>
	                          </ul>
	                        </td>
	                        <td><span class="badge bg-label-primary me-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">활동적인</font></font></span></td>
	                        <td>
	                          <div class="dropdown">
	                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
	                              <i class="ti ti-dots-vertical"></i>
	                            </button>
	                            <div class="dropdown-menu">
	                              <a class="dropdown-item waves-effect" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i> Edit</a>
	                              <a class="dropdown-item waves-effect" href="javascript:void(0);"><i class="ti ti-trash me-1"></i> Delete</a>
	                            </div>
	                          </div>
	                        </td>
	                      </tr>
                      </th:block>
                    </tbody>
                  </table>
                </div>
              </div>
		</div>
	</section>

</body>
</script>
</html>