<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="FooterFragment">
<!--====== FOOTER PART START ======-->
<footer class="landing-footer bg-body footer-text">
	<div class="footer-top position-relative overflow-hidden z-1">
		<img
			src="/assets/admin/img/front-pages/backgrounds/footer-bg-light.png"
			alt="footer bg" class="footer-bg banner-bg-img z-n1"
			data-app-light-img="front-pages/backgrounds/footer-bg-light.png"
			data-app-dark-img="front-pages/backgrounds/footer-bg-dark.png" />
		<div class="container">
			<div class="row gx-0 gy-6 g-lg-10">
				<div class="col-lg-6">
					<a th:href="@{/}" class="app-brand-link mb-6"> <span class="app-brand-logo">
              <img src="/assets/main/img/nt_nb_logo.png" alt="로고" style="height: 60px;">
            </span> <span class="app-brand-text demo footer-link fw-bold ms-2 ps-1">PuppyRoad</span>
					</a>
					<p
						style="font-size: 13px; line-height: 27px; color: #BCBCBC; margin-top: 32px">
						대표 : 양민철 | 개인정보책임자 : 이상현<br>주소 : 대구광역시 중구 중앙대로 403 (남일동
						135-1, 5층)<br>문의 : PuppyRoad@naver.com / 010-3351-3743<br>
					</p>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h6 class="footer-title mb-6">회사</h6>
					<ul class="list-unstyled">
						<li class="mb-4"><a href="/user/newsList" target="_blank"
							class="footer-link">공지사항</a></li>
						<li class="mb-4"><a href="/user/eventList" target="_blank"
							class="footer-link">이벤트</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h6 class="footer-title mb-6">PuppyRoad 서비스</h6>
					<ul class="list-unstyled">
						<li class="mb-4"><a href="pricing-page.html"
							class="footer-link">자율매칭</a></li>
						<li class="mb-4"><a href="pricing-page.html"
							class="footer-link">대리매칭</a></li>
						<th:block sec:authorize="!isAuthenticated()">
						<li class="mb-4"><a th:href="@{/memberLogin}"
							class="footer-link">로그인</a></li>
						</th:block>
						<th:block sec:authorize="isAuthenticated()">
						<li class="mb-4"><a th:href="@{/memberLogout}"
							class="footer-link">로그아웃</a></li>
						</th:block>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom py-3 py-md-5">
		<div
			class="container d-flex flex-wrap justify-content-between flex-md-row flex-column text-center text-md-start">
			<div class="mb-2 mb-md-0">
				<span class="footer-bottom-text">© <script>
					document.write(new Date().getFullYear());
				</script>
				</span> <span class="footer-bottom-text"> Made with ❤️ gearless team</span>
			</div>
			<div>
				</a> <a href="https://github.com/Uphyun/Puppyroad-Project.git" target="_blank"> <img
					src="/assets/admin/img/front-pages/icons/github.svg"
					alt="github icon" />
				</a>
			</div>
		</div>
	</div>
</footer>
</html>