<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<body>

	<!-- Hero: Start -->
	<th:block th:insert="common/fragments/hero :: HeroFragment"></th:block>
	<!-- Hero: End -->
	<section class="first-section-pt">
		<!-- Main -->
      <section id="landingFeatures" class="section-py landing-features">
        <div class="container">
          <h4 class="text-center mb-1">
            <span class="position-relative fw-extrabold z-1"
              >강아지 산책!
            </span>
          </h4>
          <div class="features-icon-wrapper row gx-0 gy-6 g-sm-12">
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
              <div class="text-center mb-4">
                <img src="/assets/admin/img/main/park.jpg" alt="laptop charging" />
              </div>
              <h5 class="mb-2">자율 매칭</h5>
              <p class="features-icon-description">
                Code structure that all developers will easily understand and fall in love with.
              </p>
            </div>
            
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
              <div class="text-center mb-4">
                <img src="/assets/admin/img/main/walk1.jpg" alt="transition up" />
              </div>
              <h5 class="mb-2">실시간 매칭</h5>
              <p class="features-icon-description">
                Free updates for the next 12 months, including new demos and features.
              </p>
            </div>
            
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
              <div class="text-center mb-4">
                <img src="/assets/admin/img/main/walk2.jpg" alt="edit" />
              </div>
              <h5 class="mb-2">대리 매칭</h5>
              <p class="features-icon-description">
                Start your project quickly without having to remove unnecessary features.
              </p>
            </div>
            
          </div>
        </div>
      </section>

	</section>
</body>
</html>