<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/" layout:decorate="~{/common/layouts/admin_layout}"
      layout:fragment="Content">
<head>
      <link rel="stylesheet" href="/assets/admin/vender/libs/datatables-bs5/datatables-bootstrap5.css">
</head>

<body>
      <div class="container-xxl flex-grow-1 container-p-y">
            <!-- Users List Table -->
            <div class="card">
                  <div class="card-header border-bottom">
                        <h5 class="card-title mb-0">의뢰인 목록</h5>
                        <div class="d-flex justify-content-between align-items-center row pt-4 gap-4 gap-md-0">
                              <div class="col-md-4 user_role"></div>
                              <div class="col-md-4 user_plan"></div>
                              <div class="col-md-4 user_status"></div>
                        </div>
                  </div>
                  <div class="card-datatable table-responsive">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                              <div class="row">
                                    <div class="col-md-2">
                                          <div class="ms-n2">
                                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                                      <label> <select name="DataTables_Table_0_length" id="recordSize"
                                                                  onchange="getMemberList('의뢰인')"
                                                                  aria-controls="DataTables_Table_0"
                                                                  class="form-select">
                                                                  <option value="5">5</option>
                                                                  <option value="10">10</option>
                                                                  <option value="25">25</option>
                                                                  <option value="50">50</option>
                                                                  <option value="100">100</option>
                                                            </select>
                                                      </label>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-md-10">
                                          <div
                                                class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-6 mb-md-0 mt-n6 mt-md-0">
                                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                      <div class="btn-group" id="searchDrop">
                                                            <button type="button" style="width: 180px;"
                                                                  class="btn btn-label-primary dropdown-toggle waves-effect waves-light"
                                                                  data-bs-toggle="dropdown" aria-expanded="false">조건 선택
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                  <li><a class="dropdown-item waves-effect"
                                                                              href="javascript:void(0);">조건 선택</a></li>
                                                                  <li><a class="dropdown-item waves-effect"
                                                                              href="javascript:void(0);">아이디</a></li>
                                                                  <li><a class="dropdown-item waves-effect"
                                                                              href="javascript:void(0);">닉네임</a></li>
                                                                  <li><a class="dropdown-item waves-effect"
                                                                              href="javascript:void(0);">아이디 및 닉네임</a>
                                                                  </li>
                                                            </ul>
                                                            <input type="hidden" id="searchTypeInput" value="아이디">
                                                      </div>
                                                      <label><input type="search" id="keywordInput" class="form-control"
                                                                  placeholder="Search"
                                                                  aria-controls="DataTables_Table_0"></label>
                                                      <button type="button" class="btn btn-primary"
                                                            onclick="searchMember()">검색</button>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div>
                                    <table class="datatables-users table dataTable no-footer dtr-column"
                                          id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                                          <thead class="border-top">
                                                <tr>
                                                      <th class="control sorting_disabled dtr-hidden" rowspan="1"
                                                            colspan="1" style="width: 28.9688px; display: none;"
                                                            aria-label=""></th>
                                                      <th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all"
                                                            rowspan="1" colspan="1" style="width: 24.1406px;"
                                                            data-col="1" aria-label=""><input type="checkbox"
                                                                  class="form-check-input">
                                                      </th>
                                                      <th class="sorting sorting_desc" tabindex="0"
                                                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                            style="width: 83.5312px;"
                                                            aria-label="닉네임: activate to sort column ascending">닉네임</th>
                                                      <th class="sorting sorting_desc" tabindex="0"
                                                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                            style="width: 85.5312px;"
                                                            aria-label="아이디: activate to sort column ascending">아이디</th>
                                                      <th class="sorting sorting_desc" tabindex="0"
                                                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                            style="width: 111.719px;"
                                                            aria-label="가입날짜: activate to sort column ascending">가입날짜
                                                      </th>
                                                      <th class="sorting sorting_desc" tabindex="0"
                                                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                            style="width: 111.719px;"
                                                            aria-label="활동날짜: activate to sort column ascending">활동날짜
                                                      </th>
                                                      <th class="sorting sorting_desc" tabindex="0"
                                                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                            style="width: 111.719px;"
                                                            aria-label="탈퇴날짜: activate to sort column ascending">탈퇴날짜
                                                      </th>
                                                      <th class="sorting_disabled" rowspan="1" colspan="1"
                                                            style="width: 116.359px;" aria-label="상세정보">상세정보</th>
                                                      <th class="sorting_disabled" rowspan="1" colspan="1"
                                                            style="width: 116.359px;" aria-label="계정상태">계정상태</th>
                                                </tr>
                                                <!-- <tr class="odd">
                                                      <td valign="top" colspan="9" class="dataTables_empty">Loading...</td>
                                                </tr> -->
                                          </thead>
                                          <tbody id="memberListBody">
                                                <tr class="odd" th:each="member : ${memberList}">
                                                      <td rowspan="1" colspan="1" style="width: 83.5312px;"
                                                            class="dt-checkboxes-cell"><input type="checkbox"
                                                                  class="form-check-input"
                                                                  th:value="${member.memberCode}">
                                                      </td>
                                                      <td style="width: 83.5312px;" class="dataTables_empty"
                                                            th:text="${member.nickName}"></td>
                                                      <td rowspan="1" colspan="1" style="width: 85.5312px;"
                                                            class="dataTables_empty" th:text="${member.userId}"></td>
                                                      <td rowspan="1" colspan="1" style="width: 111.719px;"
                                                            class="dataTables_empty"
                                                            th:text="${#dates.format(member.joinDate, 'yyyy-MM-dd')}">
                                                      </td>
                                                      <td rowspan="1" colspan="1" style="width: 111.719px;"
                                                            class="dataTables_empty"
                                                            th:text="${#dates.format(member.activityDate, 'yyyy-MM-dd')}">
                                                      </td>
                                                      <td rowspan="1" colspan="1" style="width: 111.719px;"
                                                            class="dataTables_empty"
                                                            th:text="${#dates.format(member.withdrawDate, 'yyyy-MM-dd')}">
                                                      </td>
                                                      <td rowspan="1" colspan="1" style="width: 116.359px;"
                                                            class="dataTables_empty">
                                                            <button type="button"
                                                                  class="btn btn-primary waves-effect waves-light viewInfo"
                                                                  data-bs-toggle="modal" data-bs-target="#viewUser"
                                                                  th:data-memberCode="${member.memberCode}">상세보기</button>
                                                      </td>
                                                      <td rowspan="1" colspan="1" style="width: 116.359px;"
                                                            class="dataTables_empty">
                                                            <div class="position-relative">
                                                                  <select onchange="changeState()"
                                                                        class="select2 form-select select2-hidden-accessible accountState"
                                                                        data-select2-id="accountState" tabindex="-1"
                                                                        aria-hidden="true"
                                                                        th:data-membercode="${member.memberCode}">
                                                                        <th:block th:if="${member.accountState == 1}">
                                                                              <option value="1" data-select2-id="2"
                                                                                    selected>
                                                                                    정상</option>
                                                                              <option value="2">휴면</option>
                                                                              <option value="3">탈퇴</option>
                                                                        </th:block>
                                                                        <th:block th:if="${member.accountState == 2}">
                                                                              <option value="1" data-select2-id="2">정상
                                                                              </option>
                                                                              <option value="2" selected>휴면</option>
                                                                              <option value="3">탈퇴</option>
                                                                        </th:block>
                                                                        <th:block th:if="${member.accountState == 3}">
                                                                              <option value="1" data-select2-id="2">정상
                                                                              </option>
                                                                              <option value="2">휴면</option>
                                                                              <option value="3" selected>탈퇴</option>
                                                                        </th:block>
                                                                  </select>
                                                            </div>
                                                      </td>
                                                </tr>
                                          </tbody>
                                    </table>

                                    <!-- <div class="row" id="memberListPaging" th:object=${pages}>
                                          <div class="col-sm-12 col-md-6">
                                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status"
                                                      aria-live="polite">Showing 0 to 0 of 0
                                                      entries</div>
                                          </div>
                                          <div class="col-sm-12 col-md-6">
                                                <div class="dataTables_paginate paging_simple_numbers"
                                                      id="DataTables_Table_0_paginate">
                                                      <ul class="pagination">
                                                            
                                                            <th:block th:if="${pages.prev}">
                                                                  <li class="paginate_button page-item previous"
                                                                        id="DataTables_Table_0_previous">
                                                            </th:block>
                                                            <th:block th:if="${!pages.prev}">
                                                                  <li class="paginate_button page-item previous disabled"
                                                                        id="DataTables_Table_0_previous">
                                                            </th:block>
                                                            <a aria-controls="DataTables_Table_0" aria-disabled="true"
                                                                  role="link" data-dt-idx="previous" tabindex="-1"
                                                                  class="page-link"><i
                                                                        class="ti ti-chevron-left ti-sm"></i></a>
                                                            </li>

                                                            
                                                             <th:block th:each="pages : ${#{numbers.sequence(pages.startPage, pages.endPage)}}">

                                                             </th:block>

                                                            
                                                            <th:block th:if="${pages.next}">
                                                                  <li class="paginate_button page-item next"
                                                                        id="DataTables_Table_0_next">
                                                            </th:block>
                                                            <th:block th:if="${!pages.next}">
                                                                  <li class="paginate_button page-item next disabled"
                                                                        id="DataTables_Table_0_next">
                                                            </th:block>
                                                            <a aria-controls="DataTables_Table_0" aria-disabled="true"
                                                                  role="link" data-dt-idx="next" tabindex="-1"
                                                                  class="page-link"><i
                                                                        class="ti ti-chevron-right ti-sm"></i></a></li>
                                                      </ul>
                                                </div>
                                          </div>
                                    </div> -->
                              </div>
                        </div>
                  </div>

                  <!-- View User Modal -->
                  <div class="modal fade" id="viewUser" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-simple modal-edit-user">
                              <div class="modal-content">
                                    <div class="modal-body">
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                          <div id="modal-memberInfo">
                                                <!-- Info table -->
                                                <div class="card">
                                                      <div class="text-center mb-3 mt-3">
                                                            <h5 class="mb-1 mt-1">회원정보</h5>
                                                      </div>
                                                      <div class="card-body">
                                                            <hr class="table-responsive text-nowrap">
                                                            <table class="table table-bordered text-center mb-2">
                                                                  <tr>
                                                                        <th>이름</th>
                                                                        <td colspan="3" id="infoName"></td>
                                                                        <th>닉네임</th>
                                                                        <td colspan="3" id="infoNick"></td>
                                                                        <th>연락처</th>
                                                                        <td colspan="3" id="infoPhone"></td>
                                                                  </tr>
                                                                  <tr>
                                                                        <th colspan="2">가입날짜</th>
                                                                        <td colspan="2" id="infoJoin"></td>
                                                                        <th colspan="2">활동날짜</th>
                                                                        <td colspan="2" id="infoActivity"></td>
                                                                        <th colspan="2">계정상태</th>
                                                                        <td colspan="2">
                                                                              <div class="position-relative">
                                                                                    <select id="modalAccountState"
                                                                                          onchange="changeState()"
                                                                                          class="select2 form-select select2-hidden-accessible"
                                                                                          data-select2-id="accountState"
                                                                                          tabindex="-1"
                                                                                          aria-hidden="true">
                                                                                          <option value="1"
                                                                                                data-select2-id="2"
                                                                                                selected>정상
                                                                                          </option>
                                                                                          <option value="2">휴면</option>
                                                                                          <option value="3">탈퇴</option>
                                                                                    </select>
                                                                              </div>
                                                                        </td>
                                                                  </tr>
                                                                  <tr>
                                                                        <th colspan="2">주소</th>
                                                                        <td colspan="10" id="infoAddress"
                                                                              class="text-start"></td>
                                                                  </tr>
                                                            </table>
                                                            <hr>

                                                            <h5 class="mb-2 pb-1">애완견 목록</h5>
                                                            <div id="puppies"></div>

                                                            <!-- close button -->
                                                            <div class="col-12 mt-3 text-center">
                                                                  <button type="button"
                                                                        class="btn btn-label-secondary waves-effect"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close">닫기</button>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <!--/ View User Modal -->
            </div>
      </div>
</body>

</html>