<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/" layout:decorate="~{common/layouts/default_layout}"
  layout:fragment="Content">

<body>
  <section class="section-py bg-body first-section-pt">
    <p>[[ ${info} ]]</p>
    <div class="container "><!--d-flex justify-content-center -->
      <div class="card px-3">
        <div class="row">
          <div class="col-lg-8 card-body border-end p-md-8">
            <h4 class="mb-6">결제 상세</h4>
            <form>
              <div class="row g-6">
                <div class="col-md-6">
                  <label class="form-label" for="billings-password">Password</label>
                  <input type="password" id="billings-password" class="form-control" placeholder="Password" />
                </div>
              </div>
              <div class="row g-6">
                <div class="col-md-6">
                  <label class="form-label" for="billings-email">이메일</label>
                  <input type="text" id="billings-email" class="form-control" placeholder="john.doe@gmail.com" />
                </div>
              </div>
            </form>
            <div id="form-credit-card">
              <h4 class="mt-8 mb-6">Credit Card Info</h4>
              <form>
                <div class="row g-6">
                  <div class="col-12">
                    <label class="form-label" for="billings-card-num">Card number</label>
                    <div class="input-group input-group-merge">
                      <input type="text" id="billings-card-num" class="form-control billing-card-mask"
                        placeholder="7465 8374 5837 5067" aria-describedby="paymentCard" />
                      <span class="input-group-text cursor-pointer p-1" id="paymentCard"><span
                          class="card-type"></span></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="billings-card-name">Name</label>
                    <input type="text" id="billings-card-name" class="form-control" placeholder="John Doe" />
                  </div>
                  <div class="col-md-3">
                    <label class="form-label" for="billings-card-date">EXP. Date</label>
                    <input type="text" id="billings-card-date" class="form-control billing-expiry-date-mask"
                      placeholder="MM/YY" />
                  </div>
                  <div class="col-md-3">
                    <label class="form-label" for="billings-card-cvv">CVV</label>
                    <input type="text" id="billings-card-cvv" class="form-control billing-cvv-mask" maxlength="3"
                      placeholder="965" />
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4 card-body p-md-8">
            <h4 class="mb-2">결제 요약</h4>
            <div class="bg-lighter p-6 rounded">
              <div>
                <h5>산책 시작 : [[ ${#dates.format(info.startTime, 'yyyy년 MM월 dd일 HH:mm')} ]]</h5>
                <h5>산책 종료 : [[ ${#dates.format(info.endTime, 'yyyy년 MM월 dd일 HH:mm')} ]]</h5>
                <h5>산책 시간 : <span id="times">[[ ${min} ]]</span> 분</h5>
              </div>
              <div class="d-grid">
              </div>
            </div>
            <div class="mt-5">
              <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0">산책요금</p>
                <h6 class="mb-0">₩<span>[[ ${#numbers.formatInteger(((min / 30) * info.walker.price) * 0.9, 3, 'COMMA')}
                    ]]</span>
                </h6>
              </div>
              <div class="d-flex justify-content-between align-items-center mt-2">
                <p class="mb-0">수수료</p>
                <h6 class="mb-0">₩<span>[[ ${#numbers.formatInteger(((min / 30) * info.walker.price) * 0.1, 3, 'COMMA')}
                    ]]</span>
                </h6>
              </div>
              <hr>
              <div class="d-flex justify-content-between align-items-center mt-4 pb-1">
                <p class="mb-0">총합</p>
                <h6 class="mb-0">₩<span id="total">[[ ${#numbers.formatInteger((min / 30) * info.walker. price, 3,
                    'COMMA')}
                    ]]</span></h6>
              </div>
              <div class="d-grid mt-5">
                <button class="btn btn-success waves-effect waves-light" th:onclick="|sendPay({userId : #{}})|">
                  <span class="me-2">결제하기</span>
                </button>
              </div>

              <p class="mt-8">
                계속 진행하면 서비스 약관 및 개인정보 보호정책에 동의하게 됩니다. 결제는 환불되지 않습니다.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://js.bootpay.co.kr/bootpay-5.0.1.min.js" type="application/javascript"></script>
  <script src="/assets/main/js/pay/bootpay.js"></script>
</body>

</html>