<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<meta name="contextPath" th:value="${contextPath}">
<link rel="stylesheet" href="/assets/main/css/match/matchList.css"
	type="text/css" />

</head>
<body>
	<section class="first-section-pt">
		<!-- Content -->
		<div class="container-xxl flex-grow-1 container-p-y">
			<!-- Invoice List Widget -->
			<div class="text-sm-end pb-2">
				<button type="button" class="btn btn-primary"
					th:if="${#authentication.principal.memberVO.position} == '도그워커'"
					th:onclick="|location.href='@{/user/assiInsert}'|">작성하기</button>
			</div>

			<th:blcok th:each="assi : ${assis}">

				<div class="card mb-6">
					<div class="card-widget-separator-wrapper clicker"
						style="cursor: pointer;" th:id="${assi.bulletinNo}">
						<div class="card-body card-widget-separator">
							<div class="row gy-4 gy-sm-1">
								<div class="col-sm-9">
									<div class="row">
										<div class="col-sm-2" id="img">
											<img th:src="@{/images/{fileName}(fileName=${assi.picture})}"
												alt="image" class="img-fluid"
												onerror="this.onerror=null; this.src='/assets/main/img/no_image.png';">
										</div>
										<div class="col-sm-4">
											<h6>[[${assi.writer}]] 도그워커</h6>
											<span>[[${assi.title}]]</span>
										</div>
										<div class="col-sm-4">
											<h6>근무요일 : [[${assi.workWeek}]]</h6>
											<span>[[${assi.content}]]</span>
										</div>
										<hr>
									</div>
									<div class="row">
										<div class="col-sm-2" id="img"></div>
										<div class="col-sm-4">
											<h6>반려견 30분 산책</h6>
											<h6>[[${assi.price}]]원</h6>
										</div>
										<div class="col-sm-4" id="anne">
											<h6>※시간에 유의하세요!</h6>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<img
										th:src="@{/images/{fileName}(fileName=${assi.coverPhoto})}"
										alt="image" style="width: 330px; height: 220px"
										onerror="this.onerror=null; this.src='/assets/main/img/no_image.png';">
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:blcok>
		</div>
		<!-- / Content -->
	</section>
	<script type="text/javascript" src="/assets/main/js/assi/assiList.js"></script>
</body>
</html>