<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect/"
	class="light-style layout-wide customizer-hide" dir="ltr"
	data-theme="theme-default" data-assets-path="assets/admin/"
	data-template="vertical-menu-template" data-style="light">
<head>
<meta charset="UTF-8">
<th:block
	th:replace="~{common/configs/admin/admin_config :: AdminConfigFragment}"></th:block>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
</head>
<body>
	<div class="container-xxl">
		<div class="authentication-wrapper authentication-basic container-p-y">
			<div class="authentication-inner py-6">
				<div class="card">
					<div class="card-body">
						<div class="contact-form d-flex justify-content-center">
							

								<div class="container-xxl" style="width:350px">
									<div
										class="authentication-wrapper authentication-basic container-p-y">
										<div class="authentication-inner py-6">
											<!-- Login -->
											<div class="card">
												<div class="card-body">
													<!-- Logo -->
													<div class="app-brand justify-content-center mb-6">
														<a href="index.html" class="app-brand-link"> <span
															class="app-brand-logo demo"> <svg width="32"
																	height="22" viewBox="0 0 32 22" fill="none"
																	xmlns="http://www.w3.org/2000/svg">
                     													 <path fill-rule="evenodd"
																		clip-rule="evenodd"
																		d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
																		fill="#7367F0" />
                    													  <path opacity="0.06"
																		fill-rule="evenodd" clip-rule="evenodd"
																		d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z"
																		fill="#161616" />
                    													  <path opacity="0.06"
																		fill-rule="evenodd" clip-rule="evenodd"
																		d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z"
																		fill="#161616" />
                      														<path fill-rule="evenodd"
																		clip-rule="evenodd"
																		d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
																		fill="#7367F0" />
                   															 </svg>
														</span> <span class="app-brand-text demo text-heading fw-bold">PuppyRoad</span>
														</a>
													</div>
													<!-- /Logo -->
													
													<p class="mb-6">본인인증을 진행해주세요!</p>

														<div class="mb-6">
														<label class="form-label">아이디</label> <input
																type="text" class="form-control" name="userId"
																 placeholder="EntherID" autofocus />
															<label class="form-label">휴대전화 번호</label> <input
																type="text" class="form-control" name="phone"
																 placeholder="phone number" />
																<button class="btn btn-primary d-grid w-100" id="sendPhoneNumber"
																type="button">인증번호 받기</button>
														</div>
														<div class="mb-6 form-password-toggle">
															<label class="form-label">인증번호</label>
															<div class="input-group input-group-merge">
																<input type="text" id=""
																	class="form-control" name="vaildnumber"
																	placeholder="인증번호"
																	aria-describedby="password" /> 
															</div>
															
														</div>
														
														<!-- 인증번호 인증 비밀번호변경 -->
														<div id="realId" class="real" style="display:none">
														</div>
														
														<div class="mb-6">
															<button class="btn btn-primary d-grid w-100" id="changePw"
																type="button">비밀번호 변경</button>
														</div>
														<div class="mb-6">
															<a th:href="@{/memberLogin}"><button class="btn btn-primary d-grid w-100"
																type="button">Login</button></a>
														</div>

													<p class="text-center">
														<span>계정이 없으신가요?</span><a th:href="@{/memberInsert}"> <span>회원가입</span>
														</a>
													</p>
												</div>
											</div>
											<!-- /Register -->
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	let pwck = false;
	let idck = false;
		$("#sendPhoneNumber").on('click',()=>{
			let phone = $("input[name='phone']").val();
			Swal.fire('인증번호 발송완료!');
			
			$.ajax({
				url : "sendSMS",
				method : "post",
				data : {"phoneNumber" : $("input[name='phone']").val()},
				success : function(res){
					
					$('#checkBtn').on('click', ()=>{
						if($.trim(res) == $("input[name='phone']").val()){
							Swal.fire(
	                              '인증성공!',
	                              '휴대폰 인증이 정상적으로 완료되었습니다.',
	                              'success',
	                          	)
	                         //pwck = true;
						}else{
							Swal.fire(
									
		                            '인증실패!',
		                            '휴대폰 인증번호를 다시 입력해주세요',
		                            'success'
		                            
		                            )
		                     $("input[name='phone']").focus();
						}
					})
				}
			})
		})
	let userId = "";
	let position = "";
	$("#chagePw").on('click', ()=>{
			$.ajax({
				url : "memberLookingId?phone=" + $("input[name='phone']").val(),
				method : "GET",
				success : function(result){
					console.log(result);
					$.each(result, function(index,item){
						 userId = item.userId;
						
					})
				}
			})
			if(userId == $("input[name='userId']").val() && pwck == true){
				
			}
			
		
	})
	</script>
</body>
</html>