
<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect/"
	class="light-style layout-wide customizer-hide" dir="ltr"
	data-theme="theme-default" data-assets-path="assets/admin/"
	data-template="vertical-menu-template" data-style="light">
<head>
<meta charset="UTF-8">
<th:block
	th:replace="~{common/configs/admin/admin_config :: AdminConfigFragment}"></th:block>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
	<div class="container-xxl">
		<div class="authentication-wrapper authentication-basic container-p-y">
			<div class="authentication-inner py-6">
				<div class="card">
					<div class="card-body">
						<div class="contact-form d-flex justify-content-center">
							<form class="mf_form_validate ajax_submit" name="insertForm"
								id="frm" th:action="@{/memberInsert}" method="post"
								th:object="${memberVO}">
								<h4 class="mb-1">회원가입 🚀</h4>
								<table id="table">
									<tr class="mb-6 fv-plugins-icon-container">
										<th>아이디</th>
										<td><input class="form-control" type="text" name="userId"
											th:errorclass="error-input" th:field="*{userId}" id="userId">
											<div class="error-class"
												th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>
											<div>
												<p class="checkList" id="idCheck"></p>
											</div></td>
									</tr>

									<tr>
										<th>비밀번호</th>
										<td><input class="form-control" type="text" name="userPw"
											th:errorclass="error-input" th:field="*{userPw}">
											<div class="error-class"
												th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"></div></td>

									</tr>
									<tr>
										<th>비밀번호확인</th>
										<td><input class="form-control" type="text"
											name="userPwck" th:errorclass="error-input"
											th:field="*{userPwck}">
											<div class="error-class"
												th:if="${#fields.hasErrors('userPwck')}"
												th:errors="*{userPwck}"></div>
											<div>
												<p class="checkList" id="pwCheck"></p>
											</div></td>
									</tr>
									<tr>
										<th>이름</th>
										<td><input class="form-control" type="text" name="name"
											th:errorclass="error-input" th:field="*{name}">
											<div class="error-class" th:if="${#fields.hasErrors('name')}"
												th:errors="*{name}"></div></td>
									</tr>
									<tr>
										<th>별명</th>
										<td><input class="form-control" type="text"
											name="nickName" th:errorclass="error-input"
											th:field="*{nickName}">
											<div class="error-class"
												th:if="${#fields.hasErrors('nickName')}"
												th:errors="*{nickName}"></div></td>
									</tr>
									<tr>
										<th style="height: auto; display:flex"><span id="thaddress" style="align-items:flex-start">주소</span></th>
										<td><input class="btn btn-primary d-grid w-100 waves-effect waves-light" type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
											<input class="form-control" type="text" id="sample4_postcode" placeholder="우편번호"> 
											<br> 
											<input class="form-control" type="text" id="sample4_roadAddress" placeholder="도로명주소">
											<span id="guide" style="color: #999; display: none"></span> 
											<input class="form-control" type="text" id="sample4_detailAddress" placeholder="상세주소">
											<div class="error-class" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div></td>
									</tr>
									<tr>
										<th>이메일</th>
										<td><input class="form-control" type="text" name="email"
											th:errorclass="error-input" th:field="*{email}">
											<div class="error-class"
												th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div></td>
									</tr>
									<tr>
										<th>휴대전화</th>
										<td><input class="form-control" type="text" name="phone"
											th:errorclass="error-input" th:field="*{phone}">
											<div class="error-class"
												th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div></td>
									</tr>
									<tr id="posi">
										<th>직함</th>
										<td class="form-check"><input type="radio"
											name="position" value="의뢰인" th:errorclass="error-input">
											<label for="option1">의뢰인</label> <input type="radio"
											name="position" value="봉사인" th:errorclass="error-input">
											<label for="option2">봉사인</label> <input type="radio"
											name="position" value="도그워커" th:errorclass="error-input">
											<label for="option3">도그워커</label></td>
									</tr>
									<tr id="intention">
										<th>의도</th>
										<td><input class="form-control" type="text"
											name="intention"></td>
									</tr>
									<tr id="client">
										<th></th>
										<td><textarea class="form-control"
												placeholder="*애완견 프로필 페이지로 이동하여 추가정보를 입력해주세요" readonly></textarea></td>
									</tr>
									<tr id="dogwalk">
										<th></th>
										<td><textarea class="form-control"
												placeholder="*도그워커 프로필 페이지로 이동하여 추가정보를 입력해주세요" readonly></textarea></td>
									</tr>
									<tr>
										<th></th>
										<td><button type="submit" id="formCheck"
												class="btn btn-primary d-grid w-100 waves-effect waves-light">회원가입</button></td>

									</tr>
									<tr>
										<th></th>
										<td><button type="button" id="mainGo"
												class="btn btn-primary d-grid w-100 waves-effect waves-light">메인페이지</button></td>
									</tr>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	//로딩시점
	$(document).ready(function() {
	
	        $('#intention').hide();
	        $('#client').hide();
	        $('#dogwalk').hide();
	   
	//선택시점
	  $("input[name='position']").change(function(){
	        if($(this).val() == "봉사인"){
		        $('#client').hide();
		        $('#dogwalk').hide();
	            $('#intention').show();
	        } else if($(this).val() == "의뢰인") {
	            $('#intention').hide();
	            $('#dogwalk').hide();
	            $('#client').show();
	        } else if($(this).val() == "도그워커"){
	        	$('#client').hide();
	            $('#intention').hide();
	        	$('#dogwalk').show();
	        }
	    });
	});
	
	//중복체크
	let idck = true;
	let pwck = true;
    
	$("input[name='userId']").on('change',(e)=>{
    let userId = $("input[name='userId']").val();
		
			$.ajax({
				url : 'idCheck',
				method : 'post',
				data : {userId}
			})
			.done(result => {
				console.log(result.cnt);
				if(result.cnt > 0){
					$("#idCheck").text("이미 사용중인 아이디입니다.");
					$("input[name='userId']").focus();
				}else{
					$("#idCheck").text("사용 가능한 아이디입니다.");
					idck = false;
				}
			})
	    });
	
	

	
	//비밀번호 확인
	$("input[name='userPwck']").change(function(){
		
		if($("input[name='userPw']").val() == $("input[name='userPwck']").val()){
			
			$("#pwCheck").text("비밀번호가 일치합니다.");
			pwck = false;

			
		}else{
			
			$("#pwCheck").text("비밀번호가 일치하지 않습니다.");
			$("input[name='userPwck']").focus();
		}
	});

	$('.form-control').css('margin-left', '10px');
	//$('.form-control').css('margin-top', '5px');
	$('.btn').css('margin-left', '10px');
	$('.error-class').css('margin-left', '25px');
	$('.error-class').css('color', 'red');
	$('.checkList').css('color', 'red');
	$('.checkList').css('margin-left', '25px');
	$('#thaddress').css('margin-top', '8px');
	
	$("#mainGo").on('click', ()=>{
		location.href = '/';
	});
	
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
	</script>
</body>
</html>