/* 중앙 정렬을 위한 스타일 */
.card-body .profile-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* 프로필 이미지 */
.profile-image,
.profileImagePreview {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #ddd;
	display: block;
	margin: auto;
}

/* 이미지 컨테이너 */
#image_container {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
	flex-wrap: wrap;
}

/* 첨부파일 미리보기 */
#image_list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px; /* 이미지 간의 간격 */
	justify-content: center;
}

.preview-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.preview-item img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border: 2px solid #ddd;
	border-radius: 6px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.preview-item a {
	margin-top: 5px;
	cursor: pointer;
	color: #ff4d4d; /* 삭제 아이콘 색상 */
}

.preview-item a i {
	font-size: 20px;
}

/* 공통 버튼 스타일 */
.btn {
	padding: 10px 20px;
	border-radius: 6px;
	font-size: 16px;
}

.btn-outline-info, .btn-outline-warning {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#submitBtn {
	margin-left: 10px;
}
