<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/admin/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
      rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="/assets/admin/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="/assets/admin/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="/assets/admin/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->

    <link rel="stylesheet" href="/assets/admin/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/admin/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />

    <link rel="stylesheet" href="/assets/admin/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/admin/vendor/libs/node-waves/node-waves.css" />

    <link rel="stylesheet" href="/assets/admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/admin/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="/assets/admin/vendor/libs/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" href="/assets/admin/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="/assets/admin/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="/assets/admin/vendor/libs/quill/editor.css" />
    <link rel="stylesheet" href="/assets/admin/vendor/libs/@form-validation/form-validation.css" />

    <!-- Page CSS -->

    <link rel="stylesheet" href="/assets/admin/vendor/css/pages/app-calendar.css" />

    <!-- Helpers -->
    <script src="/assets/admin/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->

    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="/assets/admin/vendor/js/template-customizer.js"></script>

    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/admin/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
			<aside id="layout-menu" style="margin:auto"
				class="layout-menu menu-vertical menu bg-menu-theme">
				<ul class="menu-inner py-1">
					<!-- Apps & Pages -->
					<li class="menu-header">
					<span class="menu-header-text">마이페이지</span></li>
					<li class="menu-item"><a href="/user/memberGetInfo" class="menu-link">
							<i class="menu-icon tf-icons ti ti-user-square-rounded"></i>
							<div>나의 정보수정</div>
					</a></li>
					<th:block th:if="${auth == '의뢰인'}">
					<li class="menu-item"><a href="/user/listPuppy"
						class="menu-link"> <i
							class="menu-icon tf-icons ti ti-pencil-plus"></i>
							<div>댕댕이 설정</div>
					</a></li>
					</th:block>
					<li class="menu-item"><a href="/user/myMatchingList" class="menu-link">
							<i class="menu-icon tf-icons ti ti-message"></i>
							<div>매칭 내역조회</div>
					</a></li>
					<th:block th:if="${auth == '봉사인'}">
					<li class="menu-item"><a href="/user/insertWalker" class="menu-link"> <i
							class="menu-icon tf-icons ti ti-heart"></i>
							<div >프로필전환</div>
					</a></li>
					</th:block>
					<th:block th:if="${auth == '도그워커'}">
					<li class="menu-item"><a href="/user/walkerProfile" class="menu-link"> <i
							class="menu-icon tf-icons ti ti-heart"></i>
							<div >프로필수정</div>
					</a></li>
					</th:block>
					<th:block th:if="${auth == '도그워커'}">
					<li class="menu-item"><a href="/user/salesChartInfo" class="menu-link"> <i
							class="menu-icon tf-icons ti ti-heart"></i>
							<div >매출관리</div>
					</a></li>
					</th:block>
					<th:block th:if="${auth == '도그워커'}">
					<li class="menu-item"><a href="/user/scheduleList" class="menu-link"> <i
							class="menu-icon tf-icons ti ti-heart"></i>
							<div>일정표</div>
					</a></li>
					</th:block>
					<th:block th:if="${auth == '의뢰인'}">
					<li class="menu-item"><a href="/user/walkJournalList" class="menu-link"> <i
							class="menu-icon tf-icons ti ti-heart"></i>
							<div>산책일지조회</div>
					</a></li>
					</th:block>
					<th:block th:if="${auth == '도그워커'}">
					<li class="menu-item"><a href="/user/dogwalkJournalList" class="menu-link"> <i
							class="menu-icon tf-icons ti ti-heart"></i>
							<div>산책일지조회</div>
					</a></li>
					</th:block>
				</ul>
			</aside>
      <div class="layout-container">
        <!-- Layout container -->
        <div class="layout-page">
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="card app-calendar-wrapper">
                <div class="row g-0">
                  <!-- Calendar Sidebar -->
                  <div class="col app-calendar-sidebar border-end" id="app-calendar-sidebar">
                    <div class="border-bottom p-6 my-sm-0 mb-4">
                      <button
                        class="btn btn-primary btn-toggle-sidebar w-100"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#addEventSidebar"
                        aria-controls="addEventSidebar">
                        <i class="ti ti-plus ti-16px me-2"></i>
                        <span class="align-middle">휴가 등록</span>
                      </button>
                    </div>
                    <div class="px-3 pt-2">
                      <!-- inline calendar (flatpicker) -->
                      <div class="inline-calendar"></div>
                    </div>
                    <hr class="mb-6 mx-n4 mt-3" />
                    <div class="px-6 pb-2">
                      <!-- Filter -->
                      <div>
                        <h5>Event Filters</h5>
                      </div>

                      <div class="form-check form-check-secondary mb-5 ms-2">
                        <input
                          class="form-check-input select-all"
                          type="checkbox"
                          id="selectAll"
                          data-value="all"
                          checked />
                        <label class="form-check-label" for="selectAll">모두보기</label>
                      </div>

                      <div class="app-calendar-events-filter text-heading">
                        <div class="form-check form-check-danger mb-5 ms-2">
                          <input
                            class="form-check-input input-filter"
                            type="checkbox"
                            id="select-personal"
                            data-value="personal"
                            checked />
                          <label class="form-check-label" for="select-personal">휴가</label>
                        </div>
                        <div class="form-check mb-5 ms-2">
                          <input
                            class="form-check-input input-filter"
                            type="checkbox"
                            id="select-business"
                            data-value="business"
                            checked />
                          <label class="form-check-label" for="select-business">예약</label>
                        </div>
                        <div class="form-check form-check-success mb-5 ms-2">
                          <input class="form-check-input input-filter" type="checkbox" id="select-holiday" data-value="holiday" checked="">
                          <label class="form-check-label" for="select-holiday">정산일</label>
                        </div>
                  
                    
                   
                      </div>
                    </div>
                  </div>
                  <!-- /Calendar Sidebar -->

                  <!-- Calendar & Modal -->
                    
                  <div class="col app-calendar-content">
                    <div class="card shadow-none border-0">
                      <div class="card-body pb-0">
                        <!-- FullCalendar -->
                        <div id="calendar"></div>
                      </div>
                    </div>
                    <div class="app-overlay"></div>
                    <!-- FullCalendar Offcanvas -->
                    
                    <div
                      class="offcanvas offcanvas-end event-sidebar"
                      tabindex="-1"
                      id="addEventSidebar"
                      aria-labelledby="addEventSidebarLabel">
                      <div class="offcanvas-header border-bottom">
                        <h5 class="offcanvas-title" id="addEventSidebarLabel">Add Event</h5>
                        <button
                          type="button"
                          class="btn-close text-reset"
                          data-bs-dismiss="offcanvas"
                          aria-label="Close"></button>
                      </div>
                     
                      <div class="offcanvas-body">
                        <form class="event-form pt-0" id="eventForm" onsubmit="return false">
                          <div class="mb-5">
                            <label class="form-label client_name" for="eventTitle">고객성함</label>
                            <input
                              type="text"
                              class="form-control"
                              id="eventTitle"
                              name="eventTitle"
                              placeholder="Event Title"/>
                          </div>
                          <div class="mb-5">
                            <label class="form-label" for="eventLabel">예약종류</label>
                            <select class="select2 select-event-label form-select" id="eventLabel" name="eventLabel">
                              <option data-label="badge badge-dot bg-danger me-2" value="Personal">휴가</option>
                              <option data-label="badge badge-dot bg-primary me-2" value="Business">예약</option>
                              <option data-label="badge badge-dot bg-success me-2" value="Holiday">정산일</option>
                            </select>
                          </div>
                          <div class="mb-5">
                            <label class="form-label" for="eventStartDate">Start Date</label>
                            <input
                              type="text"
                              class="form-control"
                              id="eventStartDate"
                              name="eventStartDate"
                              placeholder="Start Date" />
                          </div>
                          <div class="mb-5">
                            <label class="form-label" for="eventEndDate">End Date</label>
                            <input
                              type="text"
                              class="form-control"
                              id="eventEndDate"
                              name="eventEndDate"
                              placeholder="End Date" />
                          </div>
                          <div class="mb-5" style="display:none;">
                            <div class="form-check form-switch">
                              <input type="checkbox" class="form-check-input allDay-switch" id="allDaySwitch" />
                              <label class="form-check-label" for="allDaySwitch">All Day</label>
                            </div>
                          </div>
                          <div class="mb-5 addHide">
                            <label class="form-label" for="eventDogName">애완견</label>
                            <input type="text" class="form-control" id="eventDogName" name="eventDogName" readonly>
                          </div>
                          <div class="mb-5 addHide">
                            <label class="form-label" for="eventWalkFare">산책요금</label>
                            <input type="text" class="form-control" id="eventWalkFare" name="eventWalkFare" readonly>
                          </div>
                          <div class="mb-5 addHide">
                            <label class="form-label" for="eventLocation">예약장소</label>
                            <input type="text" class="form-control" id="eventLocation" name="eventLocation" readonly>
                          </div>
                          <div class="mb-5 addHide">
                            <label class="form-label" for="eventPhone">연락처</label>
                            <input type="text" class="form-control" id="eventPhone" name="eventPhone" readonly>
                          </div>
                          <div class="mb-5 totalPay">
                            <label class="form-label" for="totalPrice">정산요금</label>
                            <input type="text" class="form-control" id="totalPrice" name="totalPrice" readonly>
                          </div>
                          <div class="mb-5 totalPay">
                            <label class="form-label" for="payterm">정산기간</label>
                            <input type="text" class="form-control" id="payterm" name="payterm" readonly>
                          </div>
                          <div class="mb-5 addHide plzHide">
                            <label class="form-label" for="PriceList">내역</label>
                            <input type="text" class="form-control" id="priceList" name="PriceList" readonly>
                          </div>
                          <div class="mb-5 addHide plzHide">
                            <label class="form-label" for="PriceDay">결제일</label>
                            <input type="text" class="form-control" id="priceDay" name="PriceDay" readonly>
                          </div>
                          <div class="mb-5 addHide plzHide">
                            <label class="form-label" for="priceName">고객성함</label>
                            <input type="text" class="form-control" id="priceName" name="priceName" readonly>
                          </div>
                          <div class="mb-5">
                          <div class="addHide">
                            <label class="form-label" for="eventLocation">산책경로</label>
                            <button class="btn btn-label-success waves-effect" type="button">지도보기</button>
                          </div>
                          </div>
                          <div class="d-flex justify-content-sm-between justify-content-start mt-6 gap-2 addHide" style="display:none;">
                            <div class="d-flex">
                          <button style="display:none;" type="submit" id="addEventBtn" class="btn btn-outline-success btn-add-event me-4" data-bs-dismiss="offcanvas">
                                Add
                              </button>
                              <button
                                type="reset"
                                class="btn btn-outline-success me-sm-0 me-1"
                                data-bs-dismiss="offcanvas">
                                #ROAD
                              </button>
                            </div>
                            <button style="display:none;" class="btn btn-primary btn-delete-event d-none" data-bs-dismiss="offcanvas">확인</button>
                          </div>
                        </form>
                      </div>
                    </div>
                    </div>
                  </div>
                  <!-- /Calendar & Modal -->
                </div>
              </div>
            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        
        <!-- / Layout page -->
      </div>
       </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="/assets/admin/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/admin/vendor/libs/popper/popper.js"></script>
    <script src="/assets/admin/vendor/js/bootstrap.js"></script>
    <script src="/assets/admin/vendor/libs/node-waves/node-waves.js"></script>
    <script src="/assets/admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/admin/vendor/libs/hammer/hammer.js"></script>
    <script src="/assets/admin/vendor/libs/i18n/i18n.js"></script>
    <script src="/assets/admin/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="/assets/admin/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/assets/admin/vendor/libs/fullcalendar/fullcalendar.js"></script>
    <script src="/assets/admin/vendor/libs/@form-validation/popular.js"></script>
    <script src="/assets/admin/vendor/libs/@form-validation/bootstrap5.js"></script>
    <script src="/assets/admin/vendor/libs/@form-validation/auto-focus.js"></script>
    <script src="/assets/admin/vendor/libs/select2/select2.js"></script>
    <script src="/assets/admin/vendor/libs/moment/moment.js"></script>
    <script src="/assets/admin/vendor/libs/flatpickr/flatpickr.js"></script>

    <!-- Main JS -->
    <script src="/assets/admin/js/main.js"></script>

    <!-- Page JS -->
    <script src="/assets/admin/js/app-calendar-events.js"></script>
    
    
    <script src="/assets/admin/js/app-calendar.js"></script>
 
  </body>
 	 <script type="text/javascript" src="/assets/main/js/schedule/scheduleList.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</html>
