<!doctype html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect/"
	class="light-style layout-navbar-fixed layout-wide"
	dir="ltr" data-theme="theme-default" data-assets-path="/assets/admin/"
	data-template="front-pages" data-style="light">

<head>
<title>PuppyRoad</title>

<th:block th:insert="common/configs/config :: ConfigFragment" />
<script>
	const ContextPath = $("meta[name='Context']").attr('value');
	const Auth = $("meta[name='Auth']").attr('value');
</script>
</head>

<body>
	<script src="/assets/admin/vendor/js/dropdown-hover.js"></script>
	<script src="/assets/admin/vendor/js/mega-dropdown.js"></script>

	<!-- Navbar: Start -->
	<th:block th:insert="common/fragments/navbar :: NavbarFragment"></th:block>
	<!-- Navbar: End -->

	<!-- Sections:Start -->

	<div data-bs-spy="scroll" class="scrollspy-example">
		<!-- Hero: Start -->
		<th:block th:insert="common/fragments/hero :: HeroFragment"></th:block>
		<!-- Hero: End -->

		<!-- Content: Start -->
		<th:block layout:fragment="Content"></th:block>
		<!-- Content: End -->
	</div>

	<!-- / Sections:End -->

	<!-- Footer: Start -->
	<th:block th:insert="common/fragments/footer :: FooterFragment"></th:block>
	<!-- Footer: End -->

	<!-- footerConfig: Start -->
	<th:block th:insert="common/configs/footerConfig :: FooterConfigFragment" />
	<!-- footerConfig: End -->
</body>

</html>