<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/assets/main/js/news/newsList.js"></script>
</head>
<body>
<section class="first-section-pt">
	<div class="container text-center pt-60 pb-60">
	<button type="button" class="btn btn-info" 
	 th:onClick="|location.href='@{newsList}'|">공지사항</button>
	<button type="button" class="btn btn-success" 
	 th:onClick="|location.href='@{eventList}'|">이벤트</button>  
	  <button type="button" class="btn btn-dark float-right" 
	 th:onClick="|location.href='@{newsInsert}'|">등록</button>   
	<br><br>				
		<table class="table">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>게시일</th> 
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info : ${event}">
					<tr>
						<td>[[ ${info.bulletinNo} ]]</td>
						<td style="cursor: pointer;" class="title">[[ ${info.title} ]]</td>
						<td>
							[[ ${#dates.format(info.writingDate,'yyyy년MM월dd일')} ]]
						</td>
					</tr>
					</th:block>
			</tbody>
		</table>
	</div>
	</section>
</body>
</html>
