<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layouts/default_layout}"
    layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>소식통 수정</title>
<style>
#image_container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

#image_container img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.image-wrapper button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: yellow;
    color: red;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    width: 20px;
    height: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

th {
    width: 20%;
}

td {
    width: 80%;
}
</style>
</head>
<body>
    <br>
    <br>
    <br>
    <div class="container text-center">
        <form name="updateForm" th:action="@{/newsUpdate}" method="post" th:object="${news}" enctype="multipart/form-data">
            <table class="mx-auto">
                <tr>
                    <th>번호</th>
                    <td><input class="form-control" type="text" readonly
                        th:field="*{bulletinNo}"></td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td><input class="form-control" type="text"
                        th:field="*{title}"></td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td height="100px" width="200px"><textarea
                            class="form-control" th:field="*{content}" rows="5"></textarea></td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td>
                        <div id="image_container">
                            <input class="form-control" type="file" multiple
                                onchange="setThumbnail(event)" accept="image/*"
                                name="files">
                                
                            <!-- 기존에 등록된 파일 목록 -->
                            <div th:each="fileName : ${#strings.arraySplit(news.attachedFile, ',')}">
                                <div class="image-wrapper">
                                    <img th:src="@{/images/{fileName}(fileName=${fileName})}">
                                    <button type="button" onclick="removeExistingImage(this, '[[${fileName}]]')">x</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <button id="updateBtn" class="btn btn-primary btn-lg my-4" type="submit">수정</button>
        </form>
    </div>

    <script>
    function setThumbnail(event) {
        const fileList = event.target.files;
        const imageContainer = $("#image_container");

        Array.from(fileList).forEach(file => {
            let reader = new FileReader();
            
            reader.onload = function(e) {
                let imgWrapper = $("<div>").addClass("image-wrapper");
                let img = $("<img>").attr("src", e.target.result);
                let removeBtn = $("<button>").text("x").on("click", function() {
                    $(this).parent().remove(); // 이미지 삭제
                });

                imgWrapper.append(img).append(removeBtn);
                imageContainer.append(imgWrapper);
            };
            reader.readAsDataURL(file);
        });
    }

    function removeExistingImage(button, fileName) {
        $(button).parent().remove();
        
        let deleteFilesInput = $("input[name='deleteFiles']");
        if (deleteFilesInput.length === 0) {
            deleteFilesInput = $("<input>").attr("type", "hidden").attr("name", "deleteFiles");
            $("form[name='updateForm']").append(deleteFilesInput);
        }

        let currentFiles = deleteFilesInput.val();
        deleteFilesInput.val(currentFiles ? currentFiles + "," + fileName : fileName);
    }

    $('form[name="updateForm"]').on('submit', updateHandler);

    function updateHandler(event) {
        event.preventDefault();
        
        let title = $('input[name="title"]');
        if (title.val() === '') {
            alert('제목이 입력되지 않았습니다.');
            title.focus();
            return;
        }

        let content = $('textarea[name="content"]');
        if (content.val() === '') {
            alert('내용이 입력되지 않았습니다.');
            content.focus();
            return;
        }

        let confirmAction = confirm("정말로 수정하시겠습니까?");
		if (confirmAction) {
	        this.submit();
			alert("수정이 완료되었습니다.");
		} else {
			alert("수정이 취소되었습니다.");
		}
        
    }
    
</script>

</body>
</html>
