<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>소식통 등록</title>
</head>
<body>
	<div class="container text-center pt-60 pb-60">
		<form name="insertForm" th:action="@{/newsInsert}" method="post"
			enctype="multipart/form-data">
			<table class="mx-auto" style="width: 100%">
				<tr>
					<th>제목</th>
					<td><input class="form-control" type="text" name="title"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td><textarea class="form-control" name="content" rows="5"></textarea></td>
				</tr>
				<tr>
					<th>첨부파일</th>
					<td>
						<div class="dz-message needsclick">
							여기에 파일을 놓거나 클릭하여 업로드하세요. <span class="note needsclick"> <span
								class="fw-medium"></span>
							</span>
						</div>
						<div class="fallback">
							<input name="file" type="file" accept="image/*" multiple />
						</div>

					</td>
				</tr>
				<tr>
					<th>유형 선택</th>
					<td><label> <input type="radio" name="bulletinType"
							value="0" checked> 공지사항
					</label> <label style="margin-left: 20px;"> <input type="radio"
							name="bulletinType" value="1"> 이벤트
					</label></td>
				</tr>
			</table>
			<button class="btn btn-info btn-lg my-4" type="submit">등록</button>
		</form>
	</div>

	<script>
		const dropzoneMulti = new Dropzone('#dropzone-multi', {
			previewTemplate : previewTemplate,
			parallelUploads : 1,
			maxFilesize : 5,
			addRemoveLinks : true
		});

		$('form[name="insertForm"]').on('submit', insertHandler);

		function insertHandler(event) {
			event.preventDefault();
			let title = $('input[name="title"]');
			if (title.val() === '') {
				alert('제목이 입력되지 않았습니다.');
				title.focus();
				return;
			}

			let content = $('textarea[name="content"]');
			if (content.val() === '') {
				alert('내용이 입력되지 않았습니다.');
				content.focus();
				return;
			}

			this.submit();

		}
	</script>
</body>
</html>
