<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <link rel="stylesheet" href="/assets/main/css/news/newsUpdate.css" type="text/css" />
    <script type="text/javascript" src="/assets/main/js/news/newsUpdate.js"></script>
    <meta charset="UTF-8">
    <title>소식통 수정</title>
</head>
<body>
<div class="container text-center pt-60 pb-60">
    <form name="updateForm" id="updateForm" method="post"
          enctype="multipart/form-data" th:object="${news}"
          class="d-flex flex-column align-items-center">

        <!-- 번호 -->
        <div class="col-md-8 mb-3 ">
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-list-ol"></i></span>
                <input type="text" class="form-control" readonly th:field="*{bulletinNo}">
            </div>
        </div>

        <!-- 제목 입력 -->
        <div class="col-md-8 mb-3 ">
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-chevron-right"></i></span>
                <input type="text" class="form-control" th:field="*{title}" placeholder="제목을 입력해주세요." required>
            </div>
        </div>

        <!-- 내용 입력 -->
        <div class="col-md-8 mb-3">
            <div class="input-group">
                <span class="input-group-text"><i class="far fa-pencil-alt"></i></span>
                <textarea class="form-control" th:field="*{content}" placeholder="내용을 입력해주세요." required></textarea>
            </div>
        </div>

        <!-- 파일 업로드 -->
        <div class="col-md-8 mb-3">
            <div class="input-group">
                <span class="input-group-text"><i class="far fa-image"></i></span>
                <input type="file" class="form-control" id="image" onchange="addFile(this);" accept="image/*" name="files" multiple>
            </div>
            <div id="image_list" class="mt-3">
                <!-- 기존에 등록된 파일 목록 -->
                <div id="existing_files" th:each="fileName : ${#strings.arraySplit(news.attachedFile, ',')}">
                    <div class="preview-item" id="existing-file-[[${fileName}]]">
                        <img th:src="@{/images/{fileName}(fileName=${fileName})}" alt="첨부 이미지" style="max-width: 100px; max-height: 100px;"/>
                        <p class="name" th:text="${fileName}"></p>
                        <button type="button" class="remove-btn" onclick="removeExistingFile('[[${fileName}]]')">x</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 제출 버튼 -->
        <div class="col-md-3">
            <button class="btn btn-info btn-lg btn-block" type="button" id="submitBtn" onclick="submitForm()">수정</button>
        </div>
    </form>
</div>

</body>
</html>
