@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');

label {
	border-radius: 5px 5px 0px 0px;
	
}

h4 {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

table {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px;
  overflow: hidden;
}

th:first-of-type, th:nth-of-type(2) {
	text-align: center;
}

th {
  text-align: left;
  
}


tr > td:first-of-type {
	text-align: center;
}
  
thead {
  font-weight: bold;
  color: rgb(0, 0, 0);
  background: rgb(255,255,255);
  border-bottom: 2px solid rgb(128,128,128);
}
  
 td, th {
  padding: 1em .5em;
  vertical-align: middle;
  
 }
  
 td {
  border-bottom: 1px solid rgba(128,128,128,.1);
  background: #fff;
}

a {
  color: #73685d;
}
  
 @media all and (max-width: 768px) {
    
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  th {
    text-align: right;
  }
  
  table {
    position: relative; 
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  
  thead {
    float: left;
    white-space: nowrap;
  }
  
  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  tr {
    display: inline-block;
    vertical-align: top;
  }
  
  th {
    border-bottom: 1px solid #a39485;
  }
  
  td {
    border-bottom: 1px solid #e5e5e5;
  }
  
  #matchList td {
  	border : none;
  }
  
 }