<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/" th:fragment="AdminAsideFragment">

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
	<div class="app-brand demo">
		<a th:href="@{/}" class="app-brand-link">
			<span class="app-brand-logo demo">
				<img src="/assets/main/img/nt_nb_logo.png" alt="로고" style="height: 25px;">
			</span>
			<span class="app-brand-text demo menu-text fw-bold">PuppyRoad</span>
		</a>
		<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
			<i class="ti menu-toggle-icon d-none d-xl-block align-middle"></i>
			<i class="ti ti-x d-block d-xl-none ti-md align-middle"></i>
		</a>
	</div>

	<div class="menu-inner-shadow"></div>

	<!-- Home -->
	<!-- 
	<li class="menu-item">
		<a th:href="@{/admin/manageMember}" class="menu-link">
			<i class="menu-icon tf-icons ti ti-smart-home"></i>
			<div data-i18n="메인 홈">관리자 홈</div>
		</a>
	</li>
	 -->

	<!-- manageUsers -->
	<li class="menu-item">
		<a th:href="@{/admin/manageMember}" class="menu-link">
	<i class="menu-icon tf-icons ti ti-users"></i>
			<div data-i18n="의뢰인">의뢰인</div>
		</a>
	</li>
	<li class="menu-item">
		<a th:href="@{/admin/manageHelper}" class="menu-link">
	<i class="menu-icon tf-icons ti ti-users"></i>
			<div data-i18n="봉사인">봉사인</div>
		</a>
	</li>
	<li class="menu-item">
		<a th:href="@{/admin/manageWalker}" class="menu-link">
	<i class="menu-icon tf-icons ti ti-users"></i>
			<div data-i18n="도그워커">도그워커</div>
			<div id="walkerMenu" class="badge bg-danger rounded-pill ms-auto"></div>
		</a>
	</li>

</aside>