<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="AsideFragment">
<body>
<aside id="layout-menu" style="margin:auto"
				class="layout-menu menu-vertical menu bg-menu-theme">
				<ul class="menu-inner py-1">
					<!-- Apps & Pages -->
					<li class="menu-header"><span class="menu-header-text"
						data-i18n="PetStar">마이페이지</span></li>
					<li class="menu-item"><a href="/user/memberGetInfo" class="menu-link">
							<i class="menu-icon tf-icons ti ti-user-square-rounded"></i>
							<div data-i18n="My PetStar">나의 정보수정</div>
					</a></li>
					<th:block th:if="${auth == '의뢰인'}">
					<li class="menu-item"><a href="/user/listPuppy"
						class="menu-link"> <i
							class="menu-icon tf-icons ti ti-pencil-plus"></i>
							<div data-i18n="Board">댕댕이 설정</div>
					</a></li>
					</th:block>
					<li class="menu-item"><a href="/user/myMatchingList" class="menu-link">
							<i class="menu-icon tf-icons ti ti-message"></i>
							<div data-i18n="Comment">매칭 내역조회</div>
					</a></li>
					<th:block th:if="${auth == '도그워커'}">
					<li class="menu-item"><a href="/user/insertWalker" class="menu-link"> <i
							class="menu-icon tf-icons ti ti-heart"></i>
							<div data-i18n="Like">도크워커 프로필등록</div>
					</a></li>
					</th:block>
					<th:block th:if="${auth == '봉사인'}">
					<li class="menu-item"><a href="/user/insertWalker" class="menu-link"> <i
							class="menu-icon tf-icons ti ti-heart"></i>
							<div data-i18n="Like">도크워커 프로필전환</div>
					</a></li>
					</th:block>
					<th:block th:if="${auth == '도그워커'}">
					<li class="menu-item"><a href="/user/walkerProfile" class="menu-link"> <i
							class="menu-icon tf-icons ti ti-heart"></i>
							<div data-i18n="Like">도크워커 프로필수정</div>
					</a></li>
					</th:block>
					<th:block th:if="${auth == '도그워커'}">
					<li class="menu-item"><a href="Like" class="menu-link"> <i
							class="menu-icon tf-icons ti ti-heart"></i>
							<div data-i18n="Like">매출관리</div>
					</a></li>
					</th:block>
					<th:block th:if="${auth == '도그워커'}">
					<li class="menu-item"><a href="/user/scheduleList" class="menu-link"> <i
							class="menu-icon tf-icons ti ti-heart"></i>
							<div data-i18n="Like">일정표</div>
					</a></li>
					</th:block>
					<th:block th:if="${auth == '의뢰인'}">
					<li class="menu-item"><a href="/user/walkJournalList" class="menu-link"> <i
							class="menu-icon tf-icons ti ti-heart"></i>
							<div data-i18n="Like">산책일지조회</div>
					</a></li>
					</th:block>
					<th:block th:if="${auth == '도그워커'}">
					<li class="menu-item"><a href="/user/dogwalkJournalList" class="menu-link"> <i
							class="menu-icon tf-icons ti ti-heart"></i>
							<div data-i18n="Like">산책일지조회(도그워커)</div>
					</a></li>
					</th:block>
				</ul>
			</aside>
</body>

</html>