.features-icon-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.features-icon-box img {
	width: 100%;
	height: 150px;
	object-fit: contain;
	margin-bottom: 15px;
}

.card img {
	width: 100%;
	height: 250px;
	object-fit: contain;
}

.image-container img {
	margin-right: 20px;
}

.text-container {
	min-height: 200px;
}

.process-btn:hover {
	background-color: #00ffff;
	color: white;
}

.process-btn.active-btn {
	background-color: #8080ff;
	color: white;
	border: 2px solid #0056b3;
	font-weight: bold;
}

/* 버튼 간격 조정 */
.d-flex {
	gap: 10px;
}