<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="FooterConfigFragment">
<body>
   <!-- Core JS -->
   <!-- FONT -->
   
<link rel="stylesheet"
	href="/assets/admin/vendor/fonts/tabler-icons.css" />
	<!-- build:js assets/vendor/js/core.js -->
	<script src="/assets/admin/vendor/libs/popper/popper.js"></script>
	<script src="/assets/admin/vendor/js/bootstrap.js"></script>
	<script src="/assets/admin/vendor/libs/node-waves/node-waves.js"></script>

	<!-- endbuild -->

	<!-- Vendors JS -->
	<script src="/assets/admin/vendor/libs/nouislider/nouislider.js"></script>
	<script src="/assets/admin/vendor/libs/swiper/swiper.js"></script>

	<!-- Main JS -->
	<script src="/assets/admin/js/front-main.js"></script>

	<!-- Page JS -->
	<script src="/assets/admin/js/front-page-landing.js"></script>
</body>
</html>